NET "clk"     LOC = G9;
TIMESPEC "ts_clk" = PERIOD "clk" 10 ns HIGH 50%;

#FPGA Controls
NET RST        LOC = A19  | IOSTANDARD = LVTTL ;

#BOARD LED's
NET LED<0>     LOC = C5	  | IOSTANDARD  = LVTTL  | SLEW = SLOW | DRIVE  = 4;
NET LED<1>     LOC = E5   | IOSTANDARD  = LVTTL  | SLEW = SLOW | DRIVE  = 4;

#Button
NET BUTTON<0>  LOC = D5   | IOSTANDARD = LVTTL ;
NET BUTTON<1>  LOC = D4   | IOSTANDARD = LVTTL ;

#DDR3 Clock Loopback
NET CLK_LP		LOC = P4  | IOSTANDARD = SSTL15_II ;
NET CLK_LP_I	LOC = P3  | IOSTANDARD = SSTL15_II ;

#PMODA
NET PMODA1     LOC = E6   | IOSTANDARD = LVTTL ;
NET PMODA2     LOC = H12  | IOSTANDARD = LVTTL ;
NET PMODA3     LOC = F15  | IOSTANDARD = LVTTL ;
NET PMODA4     LOC = E16  | IOSTANDARD = LVTTL ;
NET PMODA7     LOC = B18  | IOSTANDARD = LVTTL ;
NET PMODA8     LOC = A17  | IOSTANDARD = LVTTL ;
NET PMODA9     LOC = D18  | IOSTANDARD = LVTTL ;
NET PMODA10    LOC = C17  | IOSTANDARD = LVTTL ;

#PMODB
NET PMODB1     LOC = C4   | IOSTANDARD = LVTTL ;
NET PMODB2     LOC = A2   | IOSTANDARD = LVTTL ;
NET PMODB3     LOC = A3   | IOSTANDARD = LVTTL ;
NET PMODB4     LOC = A4   | IOSTANDARD = LVTTL ;
NET PMODB7     LOC = D3   | IOSTANDARD = LVTTL ;
NET PMODB8     LOC = B2   | IOSTANDARD = LVTTL ;
NET PMODB9     LOC = B3   | IOSTANDARD = LVTTL ;
NET PMODB10    LOC = A5   | IOSTANDARD = LVTTL ;

#HEADER
NET S0         LOC = F7   | IOSTANDARD = LVTTL ;
NET S1         LOC = F8   | IOSTANDARD = LVTTL ;
NET S2         LOC = G8   | IOSTANDARD = LVTTL ;
NET S3         LOC = F10  | IOSTANDARD = LVTTL ;
NET S4         LOC = H10  | IOSTANDARD = LVTTL ;
NET S5         LOC = G11  | IOSTANDARD = LVTTL ;
NET S6         LOC = H11  | IOSTANDARD = LVTTL ;
NET S7         LOC = H13  | IOSTANDARD = LVTTL ;
NET S8         LOC = F14  | IOSTANDARD = LVTTL ;
NET S9         LOC = H14  | IOSTANDARD = LVTTL ;
NET S10        LOC = G15  | IOSTANDARD = LVTTL ;
NET S11        LOC = F16  | IOSTANDARD = LVTTL ;
NET S12        LOC = G16  | IOSTANDARD = LVTTL ;
NET S13        LOC = F17  | IOSTANDARD = LVTTL ;
NET S14        LOC = A18  | IOSTANDARD = LVTTL ;
NET S15        LOC = C18  | IOSTANDARD = LVTTL ;
NET S16        LOC = C19  | IOSTANDARD = LVTTL ;
NET S17        LOC = D19  | IOSTANDARD = LVTTL ;
NET S18        LOC = A20  | IOSTANDARD = LVTTL ;
NET S19        LOC = B20  | IOSTANDARD = LVTTL ;



